body {
  background-image: url(../img/pattern.jpg);
  margin: 0px;
}

nav {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
}

ul {
  list-style: none;
}

li {
  margin: 5px;
  display: inline;
}

a {
  text-decoration: none;
}

section {
  background-color: white;
  margin: 100px 200px 30px;
  padding: 30px;
}

article {
  border-bottom: 2px solid black;
}

h1 {
  text-align: center;
}

h5 {
  color: white;
  text-align: center;
}

footer {
  background-color: black;
  padding: 5px;
}
